body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border: 5px solid black;
    box-sizing: border-box;
}

.header {
    color: black;
    padding: 20px;
    text-align: center;
}

.search__form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.search__input {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
}

.search__button {
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    color: white;
}

.weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px; 
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
    justify-content: center;
}

.dashboard__block {
    background-color: #fff; 
    border: 1px solid #e6e6e6; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    width: 300px;
    height: 180px;
    padding:20px;
}

.dashboard__block--hourly {
   
}

.dashboard__block--daily {

}

.dashboard__block--map {

}

.dashboard__block--attire {

}

.dashboard__block--Temperature {

}

.dashboard__block--Wind {

}

.dashboard__block--UV {

}

.dashboard__block--rain {

}

.dashboard__block--Pressure {

}
