.weather-dashboard {
    border: 5px solid black;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.weather-dashboard__header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; 
}

.weather-dashboard__title {
    margin: 0;
    display: inline-block; 
}

.weather-dashboard__refresh-button {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}

    .weather-dashboard__refresh-button img {
        width: 40px;
        height: auto;
}

.search-form__input,
.search-form__button,
.forecast__block {
    text-align: center; 
}

.weather-dashboard__forecast {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}

.forecast__block {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 200px; 
}
